.benefits
    margin-top 20px

.benefit
    padding 0 30px
    text-align center
    
    @media screen and (max-width: max_phone_width)
        margin-bottom 30px
    
    &__icon
        width 50px
        height 50px
        display inline-block
        background-size cover
        background-repeat no-repeat
        
        &--community
            background-image url('../img/ic_community.png')
            
        &--markupless
            background-image url('../img/ic_markupless.png')
            
        &--updates
            background-image url('../img/ic_updates.png')
        
    &__header
        font-weight bold
        font-size 15px
        margin 10px 0 5px 0
        
    &__text
        margin 0