.brands
    
    &__group
        margin 20px 0
        
        &-letter
            font-weight bold
            font-size fs_normal * 1.5
            text-transform uppercase
            color c_grey
            margin-bottom 10px
            
    &__list
        normalize_list()
        font-size 0
        
        &-item
            font-size fs_normal
            display inline-block
            text-transform uppercase
            width 25%
            margin 3px 0
            vertical-align top
            padding-right 10px
            
            @media screen and (max-width: max_phone_width)
                width 50%
                font-size fs_normal
                
                > a
                    display inline-block
                    min-height 40px
            
        &-count
            color c_grey