.content
    padding 30px 0
    min-height 500px
    
    @media screen and (max-width: max_phone_width)
        padding 10px 0

    &__title
        margin 20px 0

        h1
            display inline-block
            font-weight normal
            font-size 32px
            margin 0
            margin-right 10px
            line-height 38px
            
            @media screen and (max-width: max_phone_width)
                font-size 24px
                line-height 28px

        &-top
            display block
            
        &-link
            text-transform uppercase
            letter-spacing 1px

        &-count
            white-space nowrap
            font-size 24px
            color c_grey
            
            @media screen and (max-width: max_phone_width)
                font-size 18px
                
    &__sizes
        margin 20px 0
        
        &-list
            list-style-type none
            padding 0
            margin 5px 0 0 0
            
        &-item
            display inline-block
            
        &-link
            color c_text
            display inline-block
            font-size 15px
            line-height 30px
            min-width 40px
            text-align center
            padding 0 3px
            border 2px solid c_border_light_grey
            border-radius 2px
            
            &:hover
                border 2px solid c_red
             
            
    &__text
        margin 20px 0

    &__filters
        margin 0 -5px
        clearfix()

        &-right
            margin-right 5px
            float right

    &__wrapper
        background #fff
        padding 0 15px
        border-radius 2px
        clearfix()
        
        @media screen and (max-width: max_phone_width)
            padding 0

    &__left
    &__right
        width 45%
        padding 10px 15px
        border-radius 2px
        float left
        
        @media screen and (max-width: max_phone_width)
            float none
            width 100%
            padding 0 10px

    &__right
        float right
        position relative
        width 55%
        padding-top 30px
        padding-bottom 30px
        
        @media screen and (max-width: max_phone_width)
            float none
            width 100%
            padding 0
            text-align center
            
            img
                max-height 440px
        
        &-discount
            left 15px
            top 15px
            font-size fs_bigger * 1.5
            line-height 38px
            border-radius 20px
            
            @media screen and (max-width: max_phone_width)
                top 5px
                left 5px

    &__left
        padding-bottom 20px

        h4
            font-size fs_normal
            margin 5px 0

    &__offer
        &-price
            font-size 21px
            .offers__item-price-current
                font-size 24px

        &-favorite
            vertical-align top
            display inline-block
            position static
            opacity 1
            padding-top 9px
            width 40px
            height @width

        &-buttons
            margin 20px 0

        &-description
            margin 20px 0

            &-text
                line-height 1.4em
                position relative
                //overflow hidden
                //max-height 5.85em

            .content__text-more
                background #fff
                
        &-shop
        &-share
            margin 20px 0
            

    &__flist
        font-size 0
        margin 20px 0

        > *
            font-size fs_normal

        &-line
            padding 5px 0

        &-left
        &-right
            normalize_list()
            vertical-align top
            font-size fs_normal
            display inline-block
            padding-right 10px
            
        &-right li
            padding 3px 0
            
            &:first-child
                padding-top 0
                
            &:last-child
                padding-bottom 0

        &-left
            width 100px



            
    
    &__text
    //    position relative
    //    overflow hidden
    //    max-height 3.9em
    //    margin 30px 0
        p
        li
            line-height 1.4em
            
        li
            padding 3px 0
        
        &-more
            position absolute
            display block
            bottom 0px
            right 0
            background c_bg
            padding-left 10px
            normalize_link()
            
            
.did-u-like-us
    margin 30px 0
    border 1px solid c_border_light_grey
    border-radius 2px
    padding 40px 30px
    text-align center
    
    &__title
        font-size 24px
        margin-top 0
        
    .ya-share2__container_size_m
        font-size 24px
        
        .ya-share2__list
            margin-top -10px
        
        .ya-share2__item
            margin-top 10px
            margin-left 5px
            margin-right 5px
        
        .ya-share2__icon
            height 40px
            width 40px