*
    box-sizing border-box
    
html
body
    margin 0
    padding 0
    min-height 100%

body
    font-size fs_normal
    font-family 'Helvetica', Arial, sans-serif
    color c_text
    background c_bg

img
    max-width 100%


h1
    font-weight normal
    font-size 32px

h2
    font-size 26px
    font-weight normal
    margin 20px 0 10px
    color c_grey
    
a
.link
    color c_blue
    text-decoration none
    border-bottom 1px solid alpha(@color, 0.3)
    normalize_link()

    &:hover
        color c_red
        border-color alpha(@color, 0.5)

.container
    display block !important

    &__wrapper
        max-width 1020px
        margin 0 auto
        padding 0 30px
        
        @media screen and (max-width: max_phone_width)
            padding 0 5px


.link
    cursor pointer
    
    &-text
        color c_text
        
    
    &-grey
        color c_grey
        

    &-red
        color c_red
        

    &-normal
        normalize_link()
        
.text
    &-centered
        text-align center

.icon
    width 24px
    height 24px

    &--small
        width 16px
        height 16px

    &--big
        width 32px
        height 32px

.btn
    display inline-block
    background c_grey
    border-radius 2px
    padding 6px 10px 4px 10px
    normalize_link()
    
    &--big
        padding 11px 14px 11px 14px
        font-size fs_bigger
        border-radius 3px
    
    &--buy
        background c_blue
        color #fff
        
    &:hover
        color #fff
        background c_red

        
.no-on-mobile
    @media screen and (max-width: max_phone_width)
        display none