.footer
    padding 20px 0
    border-top 1px solid c_border_light_grey

    .container__wrapper
        clearfix()

    &__menu
        normalize_list()
        margin 0 -5px
        float right

        li
            margin 0 5px
            display inline-block


    &__copyright
        color c_grey