.header
    background #fff
    padding 10px 0
    clearfix()

    .logotype
        float left
        
        @media screen and (max-width: max_phone_width)
            float none
            text-align center

        &__link
            font-weight bold
            color c_red
            letter-spacing 3px
            text-transform uppercase
            normalize_link()

        &__stats
            color c_grey
            margin-left 20px
            
            @media screen and (max-width: max_phone_width)
                display block
                text-align center
                margin-left 0
                margin-top -3px

    &__nav
        float right
        font-size 0
        position relative
        normalize_list()
        
        @media screen and (max-width: max_phone_width)
            float none
            width 100%
            text-align center
            margin-top 10px

        &-item
            font-size fs_normal
            display inline-block
            margin 0 10px

            &:last-child
                margin-right 0

        &-link
            normalize_link()



.nav
    width 100%
    z-index 100
    position relative
    background alpha(c_bg, 0.97)
    border-bottom 1px solid c_border_light_grey

    .container__wrapper
        position relative

    &__groups
    &__filters
        font-size 0
        clearfix()
        normalize_list()

        &-item
            font-size fs_normal
            display inline-block

    &__groups
        margin 0 -10px
        
        @media screen and (max-width: max_phone_width)
            margin 0 -5px

        &-link
            padding 0 10px
            padding-top 5px
            line-height 45px
            cursor pointer
            display block
            font-size fs_bigger
            text-transform uppercase
            letter-spacing 1px
            normalize_link()
            
            @media screen and (max-width: max_phone_width)
                font-size fs_normal - 1
                padding 0 5px

            &:hover
                color c_red
                
        
                
        &-favorites-count
            position absolute
            text-align center
            width 100%
            left 0
            top 50%
            font-size 10px
            font-weight bold
            color c_text
            margin-top -6px
            
            @media screen and (max-width: max_phone_width)
                margin-top -9px

        &-item

            &:hover
                background #fff

                > .nav__filters
                        display block
                    
            &--active
                background #fff
                
            &--choosed
                .nav__groups-link
                    color c_grey
                    position relative
                    
                    &:before
                        content ''
                        display block
                        width 6px
                        height @width
                        position absolute
                        top 7px
                        left 50%
                        margin-left -(@width/2)
                        background c_blue
                        border-radius 50%
                    
                    

            &--favorites
                float right
                position relative

                .nav__groups-link
                    line-height 15px

                .icon
                    fill c_text
                    margin 9px 0
                    
                &.nav__groups-item--active
                    .icon
                        fill c_grey
                        
                    .nav__groups-favorites-count
                        color c_grey


    &__filters
        display none
        position absolute
        background #fff
        border-radius 2px
        margin-top -2px
        padding 10px 5px
        z-index 101
        box-shadow 0 2px 2px 0 alpha(#000, 0.1)
        
        &-item
            vertical-align top

        &--full
            left 20px
            right 20px
            
            @media screen and (max-width: max_phone_width)
                left -5px
                right -5px

            .nav__filters-item
                width 25%
                
                @media screen and (max-width: max_phone_width)
                    width 50%

        &-link
            font-size fs_bigger
            display inline-block
            color c_text
            padding 7px 5px
            border-radius 2px
            normalize_link()
            
            @media screen and (max-width: max_phone_width)
                font-size fs_normal

            &:hover
                background-color alpha(c_grey, 0.2)
                
            &--disabled
                color c_grey
                
                &:hover
                    background-color transparent

            &--active
                color #fff
                background-color c_blue

                &:hover
                    color #fff
                    background-color c_red

        &-count
            font-size fs_normal
            color c_grey
