clearfix()
    &:after
        content ''
        clear both
        display block
        
        
normalize_list()
    padding 0
    margin 0
    list-style-type none


normalize_link()
    text-decoration none
    border-bottom 0

    &:hover
        border-bottom @border-bottom