.lselect
    display inline-block
    position relative
    cursor pointer
    padding 0 5px

    &__popover
        display none

    &__list
        overflow-y scroll
        max-height 300px
        normalize_list()
        padding 5px 10px
        
        &--full
            max-height auto
            overflow-y auto
            
            .lselect__list-item
                white-space nowrap

        &-link
            display block
            padding 5px 5px 2px 5px
            margin 0 -5px
            line-height 1.3em
            border-radius 2px
            normalize_link()

            &:hover
                background c_bg

            &--selected
            &--selected:hover
                background c_blue
                color #fff

    &__search
        &-field
            width 100%
            border 0
            border 1px solid alpha(c_grey, 0.3)
            padding 5px 10px
            font-size fs_bigger
            font-weight normal

