.row
    padding 30px 0

.main
    &__top
        border-radius 2px
        min-height 400px
        display block
        background-image url('../img/mp_bg.jpg')
        background-repeat no-repeat
        background-size cover
        background-position top right
        padding 1px 30px
        padding-right 40%
        color c_text
        position relative
        
        @media screen and (max-width: max_phone_width)
            min-height 180px
            padding 1px 10px
        
        &:hover
            color c_text
        
        &-head
            display block
            color c_red
            font-size 36px
            margin 20px 0
            
            @media screen and (max-width: max_phone_width)
                font-size 21px
                margin 10px 0
            
        &-sub
            display block
            font-size 18px
            margin 10px 0
            
            @media screen and (max-width: max_phone_width)
                font-size 15px
            
        .btn
            position absolute
            bottom 30px
            
            @media screen and (max-width: max_phone_width)
                bottom 10px
        
    &__ears
        padding-top 30px
        height 150px
        
        @media screen and (max-width: max_phone_width)
            height 270px
        
        > li
            height 120px
        
        &-link
            display block
            height 100%
            border-radius 2px
            background #fff
            position relative
            color c_text
            overflow hidden
            
        &-text
            position absolute
            left 15px
            right 15px
            bottom 15px
            
            span
                display inline
                background-color alpha(#fff, 0.8)
                font-size 15px
                line-height 1.4em
                
                
        &-pic
            background-repeat no-repeat
            background-position top right
            width 100%
            height 100%
            display block
    
    &__tags
        normalize_list()
        text-align center
        
        &-item
            display inline-block
            margin 4px 2px
            
            
    &__content
        border 1px solid c_border_light_grey
        padding 20px 30px
        border-radius 2px
        margin-top 20px
        
        @media screen and (max-width: max_phone_width)
            padding 0 10px
            
            h1
                font-size 21px
            
            h2
                font-size 15px
        
        h1
            margin-top 10px
            
        p
            line-height 1.4em