.offers
.blocks
    normalize_list()
    font-size 0
    margin 0 -1%
    
    &__item
        display inline-block
        font-size fs_normal
        width 23%
        margin 10px 1%
        vertical-align top
        border-radius 2px
        text-align left
        position relative
        
        @media screen and (max-width: max_phone_width)
            width 48%
            margin 3px 1%
            
    &--wide
        .offers
        .blocks
            &__item
                width 31.3333%
                    
                @media screen and (max-width: max_phone_width)
                    width 98%
                
    &--narrow
        margin 0 -0.5%
        
        @media screen and (max-width: max_phone_width)
            margin 0 -1%
        
        .offers
        .blocks
            &__item
                width 15.6666%
                margin-left 0.5%
                margin-right 0.5%
                
                @media screen and (max-width: max_phone_width)
                    width 48%
                    margin-left 1%
                    margin-right 1%

.offers
    &__item
        padding 15px
        background #fff
        
        @media screen and (max-width: max_phone_width)
            width 48%
            margin 3px 1%

        &:hover

            .offers__item

                &-buy-at
                &-add-to-favorites
                &-shop
                    opacity 1

        &-name
            margin-top 10px
            font-size fs_normal
            line-height (@font-size + 5px)

            &-type
            &-brand
                display block
                overflow hidden
                text-overflow ellipsis
                white-space nowrap

            &-brand
                text-transform uppercase

        &-price
            margin-top 5px
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            color c_grey
            max-height 1.5em

            &-current
                color c_text
                font-weight bold
                font-size fs_bigger
                
            &-old
                color c_grey
                text-decoration line-through
        
        &-link
            normalize_link()
            display block
            text-decoration none
            color c_text
        
        &-image
            width 100%
            height 250px
            white-space nowrap
            text-align center
            border-radius 2px
            
            img
                max-width 100%
                max-height 100%
                display inline-block
                vertical-align bottom
                
            &:after
                content ''
                display inline-block
                width 1px
                height 100%
                vertical-align bottom

        &-discount
        &-add-to-favorites
        &-buy-at
        &-shop
            position absolute

        &-discount
            top 10px
            left 10px
            color #fff
            background alpha(c_red, 0.95)
            padding 2px 5px 0 5px
            line-height 28px
            border-radius 15px

        &-add-to-favorites
            top 10px
            right 10px
            opacity 0
            transition opacity .2s
            display block
            background alpha(#fff, 0.8)
            width 30px
            height 30px
            border-radius 50%
            text-align center
            padding-top 8px
            normalize_link()
            
            @media screen and (max-width: max_phone_width)
                opacity 0.7
            
            .icon
                fill c_grey

            &:hover
                .icon
                    fill c_text
                    
            &--added
                opacity 1
                background c_red
                
                .icon
                    fill #fff
                    
                &:hover
                    .icon
                        fill alpha(#fff, 0.8)

        &-buy-at
            display block
            opacity 0
            top 30%
            left 50%
            width 60%
            margin-left -30%
            text-align center
            background alpha(c_blue, 0.95)
            padding 10px
            padding-bottom 8px
            border-radius 10px
            color #fff
            transition opacity .2s

            &:hover
                background c_red
                color #fff

        &-shop
            bottom 13px
            right 10px
            max-width 80px
            height 25px
            text-align right
            opacity 0.3
            transition opacity .2s
            
            @media screen and (max-width: max_phone_width)
                display none
            
            img
                max-width 100%
                max-height 100%
                
    &--wide
        .offers__item
            &-image
                height 320px
                
            &-shop
                @media screen and (max-width: max_phone_width)
                    display block
                
                
    &--narrow
        .offers__item
        
            &-image
                height 160px

.related
    margin 40px 0 0 0
                    
        
    
        
    