.pagination
    font-size fs_bigger
    margin 20px 0 40px 0
    clearfix()
    
    &__prev
        float left
        
    &__next
        float right
    
    &__button
        display inline-block
        normalize_link()
    
    &__pages
        width 100%
        text-align center
        font-size 0
        normalize_list()
        
        &-item
            display inline-block
            font-size fs_bigger
            
        &-link
            normalize_link()
            
    &__pages-link
    &__pages-ellipsis
        margin 0 5px
        
        
    &__button
    &__pages-link
        color c_text
        display block
        text-align center
        border 2px solid c_border_light_grey
        border-radius 15px
        width 30px
        height @width
        line-height @width - 2
        
        &:hover
            border 2px solid c_red
            
        &--active
            opacity 0.3
            
            &:hover
                border 2px solid c_border_light_grey
                
    &__prev
    &__next
        
        .pagination__button
            width 40px
                
    &__pages-link--active
        opacity 1
        background c_blue
        border-color c_blue
        color #fff
        
        &:hover
            border-color c_blue
                