.tag
    display inline-block
    font-size 15px
    
    &__link
        display block
        background-color alpha(c_blue, 0.1)
        border-radius 2px
        padding 4px 9px 6px 9px
        
        &:before
            color alpha(c_blue, 0.5)
            content '# '
            
        &:hover
            background-color c_red
            color #fff
            
            &:before
                color alpha(#fff, 0.5)
            