<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход с паролем</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/tooltip.almost-flat.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/notify.almost-flat.min.css') }}">
    <style>
        body,
        html {
            height: 100%;
        }

        .uk-form {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }

        .form {
            height: 100%;
            text-align: center;
        }
        .form:after {
            vertical-align: middle;
            content: '';
            display: inline-block;
            width: 1px;
            height: 100%;
        }
    </style>
</head>
<body style="height: 100%">
    <div class="form">
        <form class="uk-form" method="post">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Вход с паролем</legend>
                <div class="uk-form-row">
                    {% if form.email.errors %}
                        {% set _classes = 'uk-form-danger' %}
                    {% else %}
                        {% set _classes = '' %}
                    {% endif %}
                    {{ form.email(placeholder=form.email.label.text, class_=_classes) }}
                    {% for error in form.email.errors %}<div>{{ error }}</div>{% endfor %}
                </div>
                <div class="uk-form-row">
                    {% if form.password.errors %}
                        {% set _classes = 'uk-form-danger' %}
                    {% else %}
                        {% set _classes = '' %}
                    {% endif %}
                    {{ form.password(placeholder=form.password.label.text, class_=_classes) }}
                    {% for error in form.password.errors %}<div>{{ error }}</div>{% endfor %}
                </div>
                {% if error %}
                <div class="uk-alert uk-alert-danger">{{ error }}</div>
                {% endif %}
                <div class="uk-form-row">
                    <button class="uk-button">Войти</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>