<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            padding-bottom: 50px;
        }

        .supercontainer {
            display: flex;
            flex-direction: row;
            height: 100%;
        }

        .item {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-right: 1px solid #ccc;
        }

        .item__top {
            height: 70%;
        }

        .item__bottom {
            height: 30%;
            overflow: scroll;
            padding: 0 20px;
        }

        .item__bottom-params {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .item__bottom-params li {
            margin: 10px 0;
        }

        .item__bottom-params li span {
            display: inline-block;
            width: 20%;
            font-weight: bold;
        }

        .item__picture {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 100%;
        }

        .groups {
            width: 50%;
            overflow: scroll;
            max-height: 100%;
            background: #eee;
        }

        .groups__list,
        .filters__list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .groups__item {
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .groups__header {
            margin: 0;
            padding: 5px 10px;
            padding-top: 10px;
        }

        .filters__list {
            font-size: 0;
        }

        .filters__item {
            font-size: 16px;
            display: inline-block;
            width: 33.333%;
            vertical-align: top;
        }

        .filters__item input[type=checkbox] {
            display: none;
        }

        .filters__item input[type=checkbox]:checked + label {
            background: lightgreen;
        }

        .filters__empty,
        .filters__item label {
            display: inline-block;
            padding: 5px 10px;
        }

        .filters__empty {
            color: lightgrey;
        }

        .filters__item label {
            width: 100%;
            cursor: pointer;
        }

        .filters__item label:hover {
            background: #fff;
        }

        .main-buttons {
            position: absolute;
            bottom: 0;
            height: 50px;
            width: 100%;
            background: #333;
            display: flex;
            color: #fff;
        }

        .main-buttons__col {
            padding: 5px 10px;
        }

        .button {
            font-size: 18px;
            background: none;
            color: #fff;
            line-height: 38px;
            border: 1px solid rgba(255,255,255,0.3);
            border-radius: 4px;
            cursor: pointer;
            padding: 0 10px;
        }

        .button:hover {
            border-color: rgba(255,255,255,0.8)
        }

        .button--main {
            background: blue;
        }
    </style>
</head>
<body>
    {% if offer %}
    <form action="" method="post" style="width: 100%; height: 100%;">
        <input type="hidden" value="{{ offer.id }}" name="offer_id">
        <div class="supercontainer">
            <div class="item">
                <div class="item__top">
                    <img src="{{ offer.picture }}" alt="{{ offer.name }}" class="item__picture">
                </div>
                <div class="item__bottom">
                    <h3>{{ offer.name }}</h3>
                    {% if offer.params|length %}
                    <ul class="item__bottom-params">
                    {% for name, group in offer.params.items() %}
                        <li>
                            <span>{{ name|capitalize }}</span>
                            {% for param in group %}
                                {{ param }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% if offer.description %}
                    <div>
                        {{ offer.description|safe }}
                    </div>
                    {% endif %}
                    <br>
                    <a href="{{ offer.url }}" target="_blank">Посмотреть в магазине {{ offer.shop.name }}</a>
                </div>
            </div>
            <div class="groups">
                    <ul class="groups__list">
                        {% for group in groups.values() %}
                            <li class="groups__item">
                                <h4 class="groups__header">{{ group['name'] }}</h4>
                                {% set filters = group.get('filters') %}
                                {% if filters %}
                                <ul class="filters__list">
                                    {% for filter in filters %}
                                    <li class="filters__item">
                                        <input type="checkbox" name="{{ filter.id }}" id="{{ filter.id }}"{% if filter.facete in offer.facets %} checked="checked"{% endif %}>
                                        <label for="{{ filter.id }}">{{ filter.name }}</label>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <span class="filters__empty">Нет фильтров</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>


            </div>
        </div>
        <div class="main-buttons">
            <div class="main-buttons__col" style="width: 50%; padding-top: 6px;">
                {% if fill %}
                Заполнено тобой: {{ fill.stats.total }}<br/>
                Незаполненных товаров: {{ not_filled_count }}
                {% endif %}
            </div>
            <div class="main-buttons__col" style="width: 50%;">
                <input type="submit" class="button button--main" value="Сохранить">
                <input type="submit" class="button" name="skip_offer" value="Пропустить" style="float: right;">
            </div>

        </div>
    </form>
    {% else %}
        <h2 style="position: absolute; top: 50%; left: 50%; margin: 0; transform: translate(-50%,-50%)">
            Поздравляю, все заполнено!
        </h2>
    {% endif %}
</body>
</html>