{% from 'admin/_helpers.html' import render_pagination %}

{% extends 'admin/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dracula.css') }}">
{% endblock %}

{% macro render_categories_tree(tree) %}
    <ul class="uk-list">
        {% for cat in tree %}
            {% set count = cat['item'].offers_count %}
            <li>
                {% if cat['item'].copy %}<i class="uk-icon-check"></i>{% endif %}
                {% if count %}<a href="{{ url_for('admin.programs.item.view', pid=program.id, cid=cat['item'].cid) }}">{{ cat['item'].name }}</a>{% else %}{{ cat['item'].name }}{% endif %}
                {% if count %}<span class="uk-text-small">{{ cat['item'].offers_count }}</span>{% endif %}
                {% if cat['childrens']|length %}
                    {{ render_categories_tree(cat['childrens']) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block section_header %}
    {{ program.name }}
    {% if program.xml_file %}
        <a href="#offers-examples" class="uk-text-small" data-uk-modal><i class="uk-icon-search-plus uk-icon-large" style="vertical-align: top;"></i></a>
    {% endif %}
{% endblock %}

{% block section %}
    <style>
        .pl-scroll {
            height: 520px;
        }
    </style>
    <div class="uk-grid uk-margin">
        <div class="uk-width-1-3">
            <div class="uk-scrollable-box pl-scroll">
                {{ render_categories_tree(categories) }}
            </div>
        </div>
        <div class="uk-width-2-3">
            <div class="uk-scrollable-box pl-scroll">
            {% if category %}
                <h3>{{ category.name }}</h3>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.copy }} {{ form.copy.label }}
                    {{ form.copy_to.label }} {{ form.copy_to }}
                    {{ form.submit }}
                </form>
                <hr>
            {% endif %}
            {% if program.xml_file %}
            <div id="offers-examples" class="uk-modal">
                <div class="uk-modal-dialog uk-modal-dialog-large">
                    <a class="uk-modal-close uk-close"></a>
                    <div class="uk-modal-spinner"></div>
                    <pre><code class="html"></code></pre>
                </div>
            </div>
            {% endif %}
            {% if offers.items %}
            {% set offer = offers.items[0] %}
            <div id="offer-view" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>
                    <div class="uk-modal-spinner"></div>
                    <div class="content"></div>
                </div>
            </div>
            <ul class="uk-grid">
                {% for offer in offers.items %}
                <li class="uk-width-1-4 uk-grid-margin">
                    {% if offer.pictures|length %}<img class="lazy" data-src="{{ offer.pictures[0] }}">{% endif %}
                    <a href="#offer-view" data-id="{{ offer.id }}" data-uk-modal>{{ offer.name|safe }}</a>{% if not offer.available %} <div class="uk-badge uk-badge-warning">нет</div>{% endif %}<br>
                    <b>{{ offer.price|round|int }} руб.</b> {% if offer.old_price %}<s>{{ offer.old_price|round|int }}</s>{% endif %}
                </li>
                {% endfor %}
            </ul>
            {% set kw = {'pid': program.id} %}
            {% if category %}
                {% set kw = {'pid': program.id, 'cid': category.cid} %}
            {% endif %}
            {{ render_pagination(offers, request.endpoint, **kw) }}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
    <script>
        var programId = "{{ program.id }}",
            categoryId = {% if category %}"{{ category.cid }}"{% else %}null{% endif %},
            apiUrl = "{{ url_for('admin.get_offers_examples') }}",
            offerUrl = "{{ url_for('admin.get_offer_example') }}",
            responseData;

        function getData() {
            if (responseData) {
                render();
                return;
            }
            $.ajax({
                url: apiUrl,
                type: 'post',
                dataType: 'json',
                data: {'program_id': programId,
                       'category_id': categoryId},
                success: function(resp) {
                    responseData = resp.result;
                    render();
                }
            });
        }

        function render() {
            var modal = $('#offers-examples'),
                spinner = modal.find('.uk-modal-spinner'),
                code = modal.find('pre code');

            if (spinner) spinner.remove();

            code.html(responseData);
            hljs.highlightBlock(code[0]);
        }

        $('#offers-examples').on({
            'show.uk.modal': function(e) {
                getData();
            },

            'hide.uk.modal': function(e) {

            },
        });

        $('a[href="#offer-view"]').on('click', function(e) {
            var offerId = $(this).data('id');

            $('#offer-view').on({
                'show.uk.modal': function(e) {
                    var spinner = $(this).find('.uk-modal-spinner'),
                        content = $(this).find('.content');

                    $.ajax({
                        type: 'post',
                        url: offerUrl,
                        data: {'offer_id': offerId},
                        success: function(resp) {
                            content.html(resp.result);
                            spinner.hide()
                        }
                    })
                },
                'hide.uk.modal': function(e) {
                    var spinner = $(this).find('.uk-modal-spinner'),
                        content = $(this).find('.content');

                    spinner.show();
                    content.empty();
                }
            })
        });
    </script>
{% endblock %}