{% extends 'admin/base.html' %}

{% block section_header %}Программы{% endblock %}

{% block section %}
    <div class="uk-grid uk-margin">
        <div class="uk-width-1-1">
            <div class="uk-clearfix">
                <div class="uk-float-left">
                    Последнее обновление: {% if settings.last_update %}<span>{{ settings.last_update|distance_of_time_in_words }}</span>{% else %}нет{% endif %}
                </div>
                <div class="uk-float-right">
                    <form action="" method="post" class="uk-button-group">
                        <button class="uk-button" name="_refresh"{% if settings.has_tasks %} disabled{% endif %}><i class="uk-icon-refresh"></i> Обновить</button>
                        <button class="uk-button" name="_download"{% if settings.has_tasks %} disabled{% endif %}>Загрузить каталоги</button>
                        <button class="uk-button" name="_parse_categories"{% if settings.has_tasks %} disabled{% endif %}>Парсить категории</button>
                        <button class="uk-button" name="_parse_offers"{% if settings.has_tasks %} disabled{% endif %}>Парсить товары</button>
                        <button class="uk-button" name="_copy_offers"{% if settings.has_tasks %} disabled{% endif %}>Копировать товары</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1 uk-margin">
            {% if programs|length %}
            <table class="uk-table">
                <thead>
                    <tr>
                        <th>Вкл.</th>
                        <th>Название</th>
                        <th>Статус</th>
                        <th>Каталоги</th>
                        <th>Обновлены</th>
                        <th>Парсить&nbsp;по&nbsp;словам</th>
                        <th style="width: 1%;">Загр.</th>
                        <th style="width: 1%;">Обрб.</th>
                        <th style="width: 1%;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for program in programs %}
                    <tr>
                        <td><input id="{{ program.id }}" data-href="{{ url_for('admin.toggle_program') }}" class="js-toggle" type="checkbox"{% if program.is_active and program.is_enabled%} checked{% endif %}{% if not program.is_active %} disabled{% endif %} /></td>
                        <td><a href="{{ url_for('admin.programs.item', pid=program.id) }}">{{ program.name }}</a></td>
                        <td>
                            {% if program.is_active %}
                                <div class="uk-badge uk-badge-success"><i class="uk-icon-check"></i></div>
                            {% endif %}
                        </td>
                        <td><a href="{{ program.xml_link }}">xml</a> <a href="{{ program.csv_link }}">csv</a></td>
                        <td>{{ program.adv_updated_at|distance_of_time_in_words if program.adv_updated_at }}</td>
                        <td><input id="{{ program.id }}" data-href="{{ url_for('admin.toggle_program_parse') }}" class="js-toggle" type="checkbox"{% if program.parse_by_keywords %} checked{% endif %}{% if not program.is_active %} disabled{% endif %} /></td>
                        <td>{% if program.xml_file and program.adv_updated_at == program.last_updated_at %}<span data-uk-tooltip title="Hello World"><i class="uk-icon-check"></i></span>{% endif %}</td>
                        <td>{% if program.is_updating %}<i class="uk-icon-refresh uk-icon-spin"></i>{% endif %}</td>
                        <td>
                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
                                <a href="#" style="white-space: nowrap;"><i class="uk-icon-cog"></i></a>
                                <div class="uk-dropdown">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Another item</a></li>
                                        <li class="uk-nav-header">Header</li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Another item</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="#">Separated item</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            Программ нет, нужно обновить
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        (function($) {
            var toggle = function(e) {
                var id = this.id,
                    url = $(this).data('href');
                $.post({
                    url: url,
                    data: {pid: id},
                    dataType: 'json',
                    type: 'post',
                    success: function(data) {

                    }
                })
            };

            $('.js-toggle').on('change', toggle)
        })(jQuery);
    </script>
{% endblock %}