<div class="uk-modal-header">
    {{ offer.name }}
    {% if not offer.available %} <div class="uk-badge uk-badge-warning">нет</div>{% endif %}
</div>
<div>
    <div>
        {% for pic in offer.pictures %}
        <img src="{{ pic }}" style="max-width: 130px; max-height: 200px;">
        {% endfor %}
    </div>
    {% if offer.description %}
    <div>
        <hr>
        {{ offer.description }}
    </div>
    {% endif %}
    {% if offer.params|length %}
    <div>
        <table class="uk-table">
            {% for param, value in offer.params.items() %}
            <tr>
                <td>{{ param }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
<div class="uk-modal-footer">
    <div class="uk-grid">
        <div class="uk-width-2-3 uk-text-large">{{ offer.price|round|int }} руб. {% if offer.old_price %}<s>{{ offer.old_price|round|int }}</s>{% endif %}</div>
        <div class="uk-width-1-3 uk-text-right"><a href="{{ offer.url }}" target="_blank" class="uk-button uk-button-primary">В магазин</a></div>
    </div>
</div>