{% macro render_offer(offer, shop=True) %}
<li class="offers__item">
    <a href="{{ url_for('site.offer', slug=offer.slug) }}" class="offers__item-link">
        <div class="offers__item-image">
            <img data-src="{{ offer.small_picture }}" class="lazy" alt="" title="" />
        </div>
        <div class="offers__item-name">
            <span class="offers__item-name-type">{{ site_name }}</span>
            <span class="offers__item-name-brand">{% if offer.brand %}{{ offer.brand.name }}{% else %}&nbsp;{% endif %}</span>
        </div>
        <div class="offers__item-price">
            <span class="offers__item-price-current">{{ offer.price|pretty_price }} руб.</span>
            {% if offer.old_price %}<span class="offers__item-price-old">{{ offer.old_price|pretty_price }}</span>{% endif %}
        </div>
        {% if offer.old_price and offer.discount %}
        <div class="offers__item-discount">
            -{{ offer.discount }}%
        </div>
        {% endif %}
        {% if shop %}
        <div class="offers__item-shop">
            <img data-src="{{ offer.shop.logotype }}" class="lazy" alt="{{ offer.shop.name }}">
        </div>
        {% endif %}
    </a>
    <a href="{{ url_for('site.favorites', id=offer.id) }}" class="offers__item-add-to-favorites{% if offer.in_favorites %} offers__item-add-to-favorites--added{% endif %}">
        <svg class="icon icon--small">
            <use xlink:href="#icon-favorite"></use>
        </svg>
    </a>
    <noindex>
        <a href="{{ offer.id|make_offer_redirect_url }}" rel="nofollow" target="_blank" class="offers__item-buy-at">
            Купить<br>в&nbsp;магазине<br>{{ offer.shop.name }}
        </a>
    </noindex>
</li>
{% endmacro %}