{% macro render_pagination(pagination) %}
    {% set endpoint = request.endpoint %}
    {% if 'page' in kwargs %}
        {% do kwargs.pop('page') %}
    {% endif %}
    {% if pagination.pages %}
    <div class="pagination__prev">
        {% if pagination.has_prev %}
            {% if pagination.prev_num == 1 %}
                {% set url = url_for(endpoint, **kwargs) %}
            {% else %}
                {% set url = url_for(endpoint, page=pagination.prev_num, **kwargs) %}
            {% endif %}
            <a href="{{ url }}" class="pagination__button"><</a>
        {% else %}
            <span class="pagination__button pagination__button--active"><</span>
        {% endif %}
    </div>
    <div class="pagination__next">
        {% if pagination.has_next %}
            <a href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}" class="pagination__button">></a>
        {% else %}
            <span class="pagination__button pagination__button--disabled">></span>
        {% endif %}
    </div>
    <ul class="pagination__pages">
        {% for page in pagination.iter_pages() %}
        <li class="pagination__pages-item">
        {% if page %}
            {% if page != pagination.page %}
                <a class="pagination__pages-link" href="{% if page == 1 %}{{ url_for(endpoint, **kwargs) }}{% else %}{{ url_for(endpoint, page=page, **kwargs) }}{% endif %}">{{ page }}</a>
            {% else %}
                <span class="pagination__pages-link pagination__pages-link--active">{{ page }}</span>
            {% endif %}
        {% else %}
            <span class="pagination__pages-ellipsis">...</span>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro %}