{% macro render_share(header=None, with_script=True) %}

    <div class="did-u-like-us">
        <p class="did-u-like-us__title">Понравился проект? Расскажи другим!</p>
        {% if with_script %}<script src="//yastatic.net/share2/share.js" async></script>{% endif %}
        <div
                class="ya-share2"
                data-title="Интернет-магазин ботильонов www.Botiloni.ru."
                data-url="{{ request.url }}"
                data-description="Все предложения {% if header %}на {{ header|lower }}{% endif %} от популярных интернет магазинов тут! Все скидки, только модели в наличии в интернет-магазине www.Botiloni.ru."
                data-services="collections,vkontakte,facebook,odnoklassniki,moimir{% if is_mobile %},viber,whatsapp{% endif %},telegram"
        ></div>
    </div>

{% endmacro %}