{% macro render_pagination(pagination, endpoint) %}
{% if pagination.pages > 1 %}
    <ul class="uk-pagination">

        <li>
            {% if pagination.has_prev %}
            <a href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}"><i class="uk-icon-angle-double-left"></i></a>
            {% else %}
            <span class="uk-disabled"><i class="uk-icon-angle-double-left"></i></span>
            {% endif %}
        </li>
        {% for page in pagination.iter_pages() %}
            {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="uk-active"><span>{{ page }}</span></li>
                    {% endif %}
            {% else %}
                <li><span class="uk-disabled">...</span></li>
            {% endif %}

        {% endfor %}

        <li>
            {% if pagination.has_next %}
            <a href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}"><i class="uk-icon-angle-double-right"></i></a>
            {% else %}
            <span class="uk-disabled"><i class="uk-icon-angle-double-right"></i></span>
            {% endif %}
        </li>
    </ul>
{% endif %}
{% endmacro %}