<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Админка{% endblock %} / {{ g.settings.website_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/tooltip.almost-flat.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/notify.almost-flat.min.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <div class="uk-container uk-container-center">
        <div class="uk-grid" style="margin-top: 10px">
            <div class="uk-width-1-1">
                <nav class="uk-navbar">
                    <a href="" class="uk-navbar-brand">{{ g.settings.website_name }}</a>
                    <ul class="uk-navbar-nav">
                        <li><a href="{{ url_for('admin.programs') }}">Программы</a></li>
                        <li><a href="{{ url_for('admin.catalog') }}">Каталог</a></li>
                        <li><a href="{{ url_for('admin.filler') }}">Заполнять</a></li>
{#                        <li><a href="">Настройки</a></li>#}
                    </ul>
                    <div class="uk-navbar-flip">
                        <ul class="uk-navbar-nav">
                            <li><a href="{{ url_for('auth.logout') }}">Выйти</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-margin">
            <div class="uk-width-1-1">
                <h1>{% block section_header %}{% endblock %}</h1>
                {% block section %}

                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.lazy.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/tooltip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/notify.min.js') }}"></script>
    <script>
        $(function(){
            $('.lazy').lazy({
                effect: "fadeIn",
                effectTime: 200,
                threshold: 0
            });
        });
    </script>
    {% block js %}{% endblock %}
</body>
</html>