<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Первоначальная настройка</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', Arial, sans-serif;
        }
        body {
            display: table;
            background-color: #eee;
        }

        h1 {
            font-weight: 100;
            font-size: 340%;
            letter-spacing: .1em;
            color: #777;
        }

        .error {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: #E20062;
            color: #fff;
            padding: 15px 0px;
        }

        .container {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .form {
            padding-bottom: 50px;
        }

        .form input[type=text] {
            border: 1px solid #999;
            outline: none;
            font-size: 340%;
            text-align: center;
            font-weight: 200;
            border-radius: 8px;
            padding: 5px 0;
            width: 320px;
        }

        .form input[type=submit] {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        {% if not settings or not settings.website_configured %}
        <form action="" method="post" class="form">
            {{ form.hidden_tag() }}
            <h1>Адмитад</h1>
            {{ form.website_id(placeholder='ID магазина') }}
            {{ form.submit }}
            {% for e in form.errors.values() %}
            <div class="error">{{ e[0] }}</div>
            {% endfor %}
        </form>
        {% else %}
        <form action="" method="post">
            <h1>{{ settings.website_name }}</h1>
            <input type="hidden" name="_delete" value="1">
            <button onclick="return confirm('Уверен что хочешь рискнуть?')">Удалить</button>
        </form>
        {% endif %}
    </div>
</body>
</html>