<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>

    <style>
        tbody tr:hover {
            background: #eee;
        }

        td, th {
            padding: 4px 10px
        }
    </style>
</head>
<body>
<table style="text-align: left;">
    <thead>
        <th>Юзер</th>
        <th>Сколько заполнил</th>
        <th>Ставка</th>
        <th>Сколько платить</th>
    </thead>
    <tbody>
        {% set total = {'count': 0} %}
        {% for fill in fills %}
        {% do total.update({'count': total.get('count', 0) + fill.stats.total }) %}
        <tr>
            <td>{{ users.get(fill.user_id).email.split('@')[0] }}</td>
            <td>{{ fill.stats.total }}</td>
            <td>{{ fill.rate }}</td>
            <td>{{ (fill.stats.total * fill.rate) }} руб.</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>{{ total.count }} / {{ total_offers }}</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</body>
</html>