{% extends 'admin/catalog/main.html' %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/nestable.almost-flat.min.css') }}">
{% endblock %}

{% macro render_sortable_categories(categories) %}
    {% for item in categories %}
        {% set category = item['item'] %}
        {% set childrens = item['childrens'] %}
        <li class="uk-nestable-item">
            <div class="uk-nestable-panel">
                <div class="uk-grid">
                    <div class="uk-width-2-3">
                        <i class="uk-nestable-handle uk-icon uk-icon-bars uk-margin-small-right"></i>
                        <a href="{{ url_for('admin.categories.edit', category_id=category.id) }}">{{ category.position }}: {{ category.name }}</a> {{ category.path }}
                    </div>
                    <div class="uk-width-1-3 uk-text-right">
                        <a href="{{ url_for('admin.categories.delete', category_id=category.id) }}" onclick="return confirm('Удалить категорию?');">
                            <i class="uk-icon uk-icon-trash uk-margin-small-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% if childrens|length %}
            <ul class="uk-nestable">
                {{ render_sortable_categories(childrens) }}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% block content %}

    {% if not category.id %}
    <div class="uk-width-2-3">
        {% if categories %}
        <ul class="uk-nestable" data-uk-nestable="{handleClass:'uk-nestable-handle'}">
            {{ render_sortable_categories(categories) }}
        </ul>
        {% else %}
        <p>Категорий нет</p>
        {% endif %}
    </div>
    <form class="uk-form uk-width-1-3" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="uk-form-row">
                {{ render_form_tag(form, 'name', True) }}
            </div>
            <div class="uk-form-row">
                {{ render_form_tag(form, 'slug', True) }}
            </div>
            <div class="uk-form-row">
                {{ render_form_tag(form, 'parent', True) }}
            </div>
            <div class="uk-form-row">
                <button class="uk-button uk-button-primary">Добавить</button>
            </div>
        </fieldset>

    </form>
    {% else %}
{#    <div class="uk-width-1-3">#}
{#        <ul class="uk-tab uk-tab-left uk-width-1-1" id="form-tabs" data-uk-tab>#}
{#            <li class="uk-active"><a href="#primary">Основное</a></li>#}
{#            <li><a href="#texts">Тексты</a></li>#}
{#            <li><a href="#metas">Метаданные</a></li>#}
{#        </ul>#}
{#    </div>#}
    <form class="uk-form uk-form-horizontal uk-width-2-3" method="post">
        <h3>Редактирование «{{ category.name }}»</h3>
        {{ form.hidden_tag() }}
        <fieldset id="primary">
            <div class="uk-form-row">
                {{ form.name.label(class_="uk-form-label") }}
                <div class="uk-form-controls">{{ render_form_tag(form, 'name', True) }}</div>
            </div>
            <div class="uk-form-row">
                {{ form.slug.label(class_="uk-form-label") }}
                <div class="uk-form-controls">
                    {{ render_form_tag(form, 'slug', True) }}
                    <span class="uk-text-small">Путь: {{ category.path }}</span>
                </div>
            </div>
            <div class="uk-form-row">
                {{ form.parent.label(class_="uk-form-label") }}
                <div class="uk-form-controls">{{ render_form_tag(form, 'parent', True) }}</div>
            </div>
            <div class="uk-form-row">
                {{ form.position.label(class_="uk-form-label") }}
                <div class="uk-form-controls">{{ render_form_tag(form, 'position', True) }}</div>
            </div>
        </fieldset>
        <div class="uk-form-row uk-margin">
            <div class="uk-form-controls">
                <button class="uk-button uk-button-primary">Сохранить</button>
                <a href="{{ url_for('admin.categories.delete', category_id=category.id) }}"
                   class="uk-button uk-float-right" onclick="return confirm('Удалить категорию?')">Удалить</a>
            </div>
        </div>
    </form>
    {% endif %}

{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/components/nestable.min.js') }}"></script>
{#    <script>#}
{#        var form = $('.uk-form');#}
{##}
{#        $('#form-tabs').on('change.uk.tab', function(e, active, prev) {#}
{#            var activeId = active.find('a').attr('href');#}
{##}
{#            form.find('fieldset').hide();#}
{#            form.find('fieldset' + activeId).show();#}
{##}
{#        })#}
{#    </script>#}
{% endblock %}