{% extends 'admin/catalog/main.html' %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="uk-width-1-3">
        <h4>Группы фильтров</h4>
        <ul class="uk-list">
            {% for group in groups %}
            <li><a href="{{ url_for('admin.filters.group', group_slug=group.slug) }}">{{ group.name }}</a></li>
            {% else %}
            <li>групп нет</li>
            {% endfor %}
        </ul>
        <h4>Новая группа</h4>
        <form action="{{ url_for('admin.filters') }}" class="uk-form" method="post">
            {{ group_form.hidden_tag() }}
            <fieldset>
                <div class="uk-form-row">
                    {{ render_form_tag(group_form, 'name', True) }}
                </div>
                <div class="uk-form-row">
                    {{ render_form_tag(group_form, 'slug', True) }}
                </div>
                <div class="uk-form-row">
                    <button class="uk-button uk-button-primary">Добавить</button>
                </div>
            </fieldset>

        </form>
    </div>
    <div class="uk-width-2-3">
        <h3>Фильтры{% if current_group %} группы «{{ current_group.name }}»{% endif %}</h3>
        {% for filt in filters %}
        <ul>
            <li>{{ filt.name }} — {{ filt.name_kind }}</li>
        </ul>
        {% endfor %}
        {% if current_group %}
        <form action="" class="uk-form" method="post">
            {{ filter_form.hidden_tag() }}
            <div class="uk-grid">
                <div class="uk-width-1-4">{{ render_form_tag(filter_form, 'name', True) }}</div>

                <div class="uk-width-1-4">{{ render_form_tag(filter_form, 'name_kind', True) }}</div>

                <div class="uk-width-1-4">{{ render_form_tag(filter_form, 'slug', True) }}</div>

                <div class="uk-width-1-4"><button class="uk-button uk-button-primary">Добавить</button></div>

            </div>
            </fieldset>
        </form>
        {% endif %}
    </div>
{% endblock %}

{% block js %}

{% endblock %}