{% from 'admin/_helpers.html' import render_pagination %}

{% extends 'admin/base.html' %}

{% block section_header %}
    Каталог
{% endblock %}

{% macro render_categories(categories) %}
    {% for item in categories %}
    {% set category = item['item'] %}
    {% set childrens = item['childrens'] %}
    <li>
        <a href="{{ url_for('admin.catalog.category', category_id=category.id) }}">{{ category.name }}</a>
        {% if childrens|length %}
        <ul class="">
            {{ render_categories(childrens) }}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
{% endmacro %}

{% macro render_form_tag(form, tag, placeholder=True) %}
    {% set class_ = 'uk-width-1-1' %}
    {% if form[tag].errors %}{% set class_ = class_ + ' uk-form-danger' %}{% endif %}
    {% set kwargs = {'class_':class_} %}
    {% if placeholder %}
        {% do kwargs.update({'placeholder':form[tag].label.text}) %}
    {% endif %}

    {{ form[tag](**kwargs) }}

    {% if form[tag].errors %}<p class="uk-form-help-block">{{ form[tag].errors[0]  }}</p>{% endif %}
{% endmacro %}

{#('Категории', 'admin.categories'),#}
{%
    set pages = (
        ('Товары', 'admin.catalog'),
        ('Фильтры', 'admin.filters'),
        ('Магазины', 'admin.shops'),
        ('Бренды', 'admin.brands'),
    )
%}

{% block section %}
    <ul class="uk-tab uk-tab-grid">
        {% for name, endpoint in pages %}
        <li class="uk-width-1-{{ pages|length }}{% if endpoint in request.endpoint %} uk-active{% endif %}"><a href="{{ url_for(endpoint) }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
    <div class="uk-grid uk-margin-large">
        {% block content %}
            {% set id = category.id or None %}
            {% set kwargs = {'category_id': category.id or None } %}
            {% do kwargs.update(request.args) %}
            {% do kwargs.pop('page', None) %}
            <div class="uk-width-1-4">
                {% if categories|length %}
                <h4>Категории</h4>
                <ul class="uk-list">
                    {{ render_categories(categories) }}
                </ul>
                {% endif %}

                {% if shops|length %}
                <h4>Магазины</h4>
                <ul class="uk-list">
                    {% for shop in shops %}
                    {% set args = kwargs.copy() %}
                    {% do args.update({'shop': shop.slug}) %}
                    <li><a href="{{ url_for(request.endpoint, **args) }}">{{ shop.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if brands|length %}
                <h4>Бренды</h4>
                <ul class="uk-list uk-scrollable-box">
                    {% for brand in brands %}
                    {% set args = kwargs.copy() %}
                    {% do args.update({'brand': brand.slug}) %}
                    <li><a href="{{ url_for(request.endpoint, **args) }}">{{ brand.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if filters|length %}
                <h4>Фильтры</h4>
                <ul class="uk-list uk-scrollable-box">
                    {% for group in filters.values() %}
                    {% set filts = group.get('filters') %}
                    {% if filts and filts|length %}
                    <li>
                        <b>{{ group['name'] }}</b>
                        <ul>
                            {% for filter in filts %}
                            {% set args = kwargs.copy() %}
                            {% do args.update({group.slug: filter.slug}) %}
                            <li><a href="{{ url_for(request.endpoint, **args) }}">{{ filter.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="uk-width-3-4">
                Всего товаров {{ offers.total }}
                <ul class="uk-grid">
                {% for offer in offers.items %}
                    <li class="uk-width-1-4 uk-grid-margin">
                        {% if offer.pictures and offer.pictures|length %}<img class="lazy" data-src="{{ offer.pictures[0].url }}">{% endif %}
                        <a href="{{ offer.url }}" target="_blank">{{ offer.name }}</a><br />
                        {{ offer.price }}
                        {% if offer.old_price %}
                            <s>{{ offer.old_price }}</s>
                            -{{ offer.discount }}%
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% set args = kwargs.copy() %}
                {{ render_pagination(offers, request.endpoint, **args) }}
            </div>
        {% endblock %}
    </div>
{% endblock %}