{% macro render_form_tag(form, tag, value=None, placeholder=True) %}
    {% set class_ = 'uk-width-1-1' %}
    {% if form[tag].errors %}{% set class_ = class_ + ' uk-form-danger' %}{% endif %}
    {% set kwargs = {'class_':class_} %}
    {% if placeholder %}
        {% do kwargs.update({'placeholder':form[tag].label.text}) %}
    {% endif %}
    {% if value %}
        {% do kwargs.update({'value': value}) %}
    {% endif %}

    {{ form[tag](**kwargs) }}

    {% if form[tag].errors %}<p class="uk-form-help-block">{{ form[tag].errors[0]  }}</p>{% endif %}
{% endmacro %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='trumbowyg/ui/trumbowyg.min.css') }}">
{% endblock %}

{% extends 'admin/base.html' %}

{% block section %}
    <form class="uk-form uk-form-horizontal uk-width-3-3" method="post">
        <h3>{% if create %}Новая страница{% else %}Редактирование {{ page.path }}{% endif %}</h3>
        {{ form.hidden_tag() }}
        <fieldset id="primary">
            <div class="uk-form-row">
                {{ form.path.label(class_="uk-form-label") }}
                <div class="uk-form-controls">{{ render_form_tag(form, 'path', request.args.get('path')) }}</div>
            </div>
            <div class="uk-form-row">
                {{ form.title.label(class_="uk-form-label") }}
                <div class="uk-form-controls">
                    {{ render_form_tag(form, 'title') }}
                    <span class="uk-text-small">Путь:</span>
                </div>
            </div>
            <div class="uk-form-row">
                {{ form.header.label(class_="uk-form-label") }}
                <div class="uk-form-controls">{{ render_form_tag(form, 'header') }}</div>
            </div>
            <div class="uk-form-row">
                {{ form.description.label(class_="uk-form-label") }}
                <div class="uk-form-controls">{{ render_form_tag(form, 'description') }}</div>
            </div>
            <div class="uk-form-row">
                {{ form.content.label(class_="uk-form-label") }}
                <div class="uk-form-controls">{{ render_form_tag(form, 'content') }}</div>
            </div>
        </fieldset>
        <div class="uk-form-row uk-margin">
            <div class="uk-form-controls">
                <button class="uk-button uk-button-primary">Сохранить</button>
                {% if not create %}<a href="{{ url_for('admin.pages.item.delete', id=page.id) }}"
                   class="uk-button uk-float-right" onclick="return confirm('Удалить категорию?')">Удалить</a>{% endif %}
            </div>
        </div>
    </form>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='trumbowyg/trumbowyg.min.js') }}"></script>
    <script>
        $(function() {
            $('#content').trumbowyg();
        });
    </script>
{% endblock %}