<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block description %}Все предложения от популярных интернет магазинов тут! Все скидки, только модели в наличии!{% endblock %}">
    {% block metas %}
    {% endblock %}
    <title>{% block title %}Интернет магазин ботильонов www.Botiloni.ru{% endblock %}</title>
    <link href="/favicon.png" rel="icon" type="image/png">
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Istok+Web:400,700&subset=cyrillic">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block extra_css %}{% endblock %}
    <script data-main="{{ url_for('static', filename='js/main.js') }}" src="{{ url_for('static', filename='js/require.js') }}"></script>
</head>
<body>
    {% include '_icons.html' %}
    <div class="container" style="display: none">
        <header class="header">
            <div class="container__wrapper">
                <div class="logotype">
                    {% if request.endpoint == 'site.index' %}
                    <span class="logotype__link">{{ site_name }}</span>
                    {% else %}
                    <a href="{{ url_for('site.index') }}" class="logotype__link">{{ site_name }}</a>
                    {% endif %}
                    <span class="logotype__stats">{{ total_offers|get_plural(['модель', 'модели', 'моделей'])|pretty_price }} из {{ total_shops|get_plural(['магазина', 'магазинов', 'магазинов']) }}</span>
                </div>
                <ul class="header__nav">
                    <li class="header__nav-item">
                        <a href="{{ url_for('site.catalog') }}" class="header__nav-link{% if request.endpoint == 'site.catalog' %} link-grey{% else %} link-text{% endif %}">Каталог</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="{{ url_for('site.brands') }}" class="header__nav-link{% if request.endpoint == 'site.brands' %} link-grey{% else %} link-text{% endif %}">Бренды</a>
                    </li>
{#                    <li class="header__nav-item">#}
{#                        <a href="#" class="header__nav-link link-text">Купоны</a>#}
{#                    </li>#}
                </ul>
            </div>
        </header>
        <nav class="nav">
            <div class="container__wrapper">
                <ul class="nav__groups">
                    {% for _, group in filters.items() %}
                    <li class="nav__groups-item{% if group['slug'] in current_filter_groups %} nav__groups-item--choosed{% endif %}">
                        <span class="nav__groups-link">
                            {{ group['name'] }}
                        </span>
                        {% if group['filters'] %}
                        <ul class="nav__filters nav__filters--full">
                            {% for filter in group['filters'] %}
                            <li class="nav__filters-item">
                                {% if current_path and filter.path in current_path %}
                                <a href="{{ url_for('site.catalog', path=filter.facete|generate_filter_url(current_path, remove=True)) }}"
                                   class="nav__filters-link nav__filters-link--active">
                                    {{ filter.name }}
                                    <span class="nav__filters-link-reset">x</span>
                                </a>
                                {% else %}
                                {% set p = filter.path %}
{#                                {% if filter.count != False %}#}
                                <a href="{{ url_for('site.catalog', path=p) }}" class="nav__filters-link">
                                    {{ filter.name }}
                                    {% if filter.count != False %}<span class="nav__filters-count">{{ filter.count }}</span>{% endif %}
                                </a>
{#                                {% else %}#}
{#                                <span href="{{ url_for('site.catalog', path=p) }}" class="nav__filters-link nav__filters-link--disabled">#}
{#                                    {{ filter.name }}#}
{#                                </span>#}
{#                                {% endif %}#}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <li class="nav__groups-item{% if request.endpoint == 'site.sale' %} nav__groups-item--active{% endif %}">
                        <a href="{{ url_for('site.sale') }}" class="nav__groups-link link-red">
                            Распродажа %
                        </a>
                    </li>
                    <li class="nav__groups-item nav__groups-item--favorites{% if request.endpoint == 'site.favorites' %} nav__groups-item--active{% endif %}">
                        <a href="{{ url_for('site.favorites') }}" class="nav__groups-link">
                            <span class="nav__groups-favorites-count"{% if favorites_count <= 0 %} style="display: none"{% endif %}>{{ favorites_count }}</span>
                            <svg class="icon">
                                <use xlink:href="#icon-favorite"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content">
            <div class="container__wrapper">
                {% block content %}

                {% endblock %}
            </div>
        </div>
        <footer class="footer">
            <div class="container__wrapper">
{#                <ul class="footer__menu">#}
{#                    <li>#}
{#                        <a href="#" class="link-normal link-grey">О нас</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="link-normal link-grey">О доставке</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="link-normal link-grey">Об оплате</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="link-normal link-grey">Статьи</a>#}
{#                    </li>#}
{#                </ul>#}
                <div class="footer__copyright">
                    &copy; 2013 &mdash; {{ current_year }}
                    <div class="footer__copyright-site">{{ request.host }}</div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-50865890-1', 'botiloni.ru');
        ga('send', 'pageview');
    </script>
    <!-- Yandex.Metrika counter -->
    <script type=text/javascript>
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter24942572 = new Ya.Metrika({id:24942572,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src=//mc.yandex.ru/watch/24942572 style="position:absolute; left:-9999px;" alt></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <script>
{#        document.querySelectorAll('.offers__item-buy-at').addEventListener('click', function(e) {#}
{#                e.preventDefault();#}
{#                yaCounter24942572.reachGoal('goto_partner_catalog');#}
{#                ga.push(['_trackEvent', 'Переход в партнерку из каталога', this.href])#}
{#            });#}

    </script>
</body>
</html>

{% if current_user and current_user.is_admin %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endif %}

{% block extra_js %}

{% endblock %}