{% extends 'base.html' %}

{% block content %}
    <div class="content__title">
        <h1>
            Бренды
        </h1>
        <span class="content__title-count">{{ total_brands }}</span>
    </div>

    <div class="brands">
    {% for group, brands in grouped_brands.items() %}
        <div class="brands__group">
            <div class="brands__group-letter">{{ group }}</div>
            <ul class="brands__list">
                {% for brand, count in brands %}
                <li class="brands__list-item">
                    <a href="{{ url_for('site.catalog', brand=brand.slug) }}" class="link-text link-normal">{{ brand.name|safe }} <span class="brands__list-count">{{ count }}</span></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>

{% endblock %}