{% from 'helpers/offers.html' import render_offer with context %}
{% from 'helpers/pagination.html' import render_pagination %}
{% from 'helpers/share.html' import render_share with context %}

{% if page and page.header %}
    {% set header = page.header %}
{% elif catalog_header %}
    {% set header = catalog_header(site_name) %}
    {% if current_brand %}
        {% set header = header + ' ' + current_brand.name|upper  %}
    {% endif %}
{% elif current_brand %}
    {% set header = site_name + ' ' + current_brand.name|upper %}
{% else %}
    {% set header = 'Каталог ботильонов' %}
{% endif %}

{% extends 'base.html' %}

{% block title %}
{% if page and page.title %}{{ page.title }}{% else %}{{ header }}{% endif  %} | {{ super() }}
{% endblock %}

{% block description %}{% if page and page.description %}{{ page.description }}{% elif catalog_header or current_brand %}Все предложения на {{ header|lower }} от популярных интернет магазинов тут! Все скидки, только модели в наличии!{% else %}{{ super() }}{% endif %}{% endblock %}


{% block content %}
    {% if current_user and current_user.is_admin %}
        <a class="admin__page-edit" target="_blank" href={% if page %}{{ url_for('admin.pages.item', id=page.id) }}{% else %}{{ url_for('admin.pages.item.create', path=current_path) }}{% endif %}>Редактировать страницу</a>
    {% endif %}

    <div class="content__title">
        <h1>
            {{ header }}
        </h1>
        <span class="content__title-count">{{ offers.total|get_plural(['модель', 'модели', 'моделей']) }}</span>
    </div>
    <div class="content__filters">
        <div class="lselect">
            <div class="lselect__current">
                {% set kwargs = request.args.copy() %}
                {% do kwargs.pop('shop', None) %}
                {% do kwargs.pop('brand', None) %}
                {% do kwargs.pop('page', None) %}
                <span class="js-brand-popover lselect__current-line link link-text">{% if current_brand %}{{ current_brand.name }}{% else %}Бренд{% endif %}</span>
                {% if current_brand %}<a href="{{ url_for('site.catalog', path=current_path, **kwargs) }}">x</a>{% endif %}
            </div>
            <div class="lselect__popover" id="js-brand-popover">
                <ul class="lselect__list">
                    <li class="lselect__list-item lselect__list-item--drop">
                        <a href="{{ url_for('site.catalog', path=current_path, **kwargs) }}" class="lselect__list-link{% if not current_brand %} lselect__list-link--selected{% endif %}">Не выбран</a>
                    </li>
                    {% for brand in brands %}
                    <li class="lselect__list-item">
                        <a href="{{ url_for('site.catalog', path=current_path, brand=brand.slug, **kwargs) }}" class="lselect__list-link{% if current_brand == brand %} lselect__list-link--selected{% endif %}">{{ brand.name|safe }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="lselect">
            <div class="lselect__current">
                {% set kwargs = request.args.copy() %}
                {% do kwargs.pop('brand', None) %}
                {% do kwargs.pop('shop', None) %}
                {% do kwargs.pop('page', None) %}
                <span class="js-shop-popover lselect__current-line link link-text">{% if current_shop %}{{ current_shop.name }}{% else %}Магазин{% endif %}</span>
                {% if current_shop %}<a href="{{ url_for('site.catalog', path=current_path, **kwargs) }}">x</a>{% endif %}
            </div>
            <div class="lselect__popover" id="js-shop-popover">
                <ul class="lselect__list">
                    <li class="lselect__list-item lselect__list-item--drop">
                        <a href="{{ url_for('site.catalog', path=current_path, **kwargs) }}" class="lselect__list-link{% if not current_shop %} lselect__list-link--selected{% endif %}">Не выбран</a>
                    </li>
                    {% for shop in shops %}
                    <li class="lselect__list-item">
                        <a href="{{ url_for('site.catalog', path=current_path, shop=shop.slug, **kwargs) }}" class="lselect__list-link{% if current_shop == shop %} lselect__list-link--selected{% endif %}">{{ shop.name|safe }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="content__filters-right">
            {% if current_brand %}
                {% do kwargs.update({'brand': current_brand.slug }) %}
            {% endif %}

            {% if current_shop %}
                {% do kwargs.update({'shop': current_shop.slug }) %}
            {% endif %}

            <span class="js-popover link link-text">
            <span class="no-on-mobile">Сортировать </span>{{ sorts.get(current_sort)[0].lower() }}
            </span>
            <div class="webui-popover-content" >
                <ul class="lselect__list lselect__list--full">
                {% for key, sort in sorts.items() %}
                {% do kwargs.pop('sort', None) %}
                    <li class="lselect__list-item">
                        <a class="lselect__list-link{% if current_sort == key %} lselect__list-link--selected{% endif %}" href="{{ url_for('site.catalog', path=current_path, sort=key, **kwargs) }}">{{ sort[0]|lower }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% if offers.total %}
    <ul class="offers">
        {% for offer in offers.items %}
        {{ render_offer(offer) }}
        {% endfor %}
    </ul>
    {% if offers.pages > 1 %}
    <div class="pagination">
        {{ render_pagination(offers, path=current_path, **request.args) }}
    </div>
    {% endif %}
    {% else %}
    <br><br>
    <h2>Товаров с этими свойствами нет в наличии.{% if filt_offers|length %} Зато есть:{% endif %}</h2>
    {% for f, os in filt_offers %}
    {% if os|length > 0%}
        <h3>{{ create_header(f)(site_name) }}</h3>
        <ul class="offers offers--narrow">
        {% for offer in os %}
            {{ render_offer(offer, shop=False) }}

        {% endfor %}
        </ul>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if page and page.content and not request.args.get('page')%}
    <div class="content__text">
        {{ page.content|safe }}
    </div>
    {% elif not current_path and not request.args.get('page') %}

    {% endif %}

    {% if offers.total %}
        {{ render_share(header=header) }}
    {% endif %}

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/webui-popover.min.css') }}">
{% endblock %}