{% from 'helpers/offers.html' import render_offer with context %}
{% from 'helpers/pagination.html' import render_pagination %}

{% extends 'base.html' %}

{% block content %}
    <div class="content__title">
        <h1>Отложенные модели</h1>
        {% if offers.total %}<span class="content__title-count">{{ offers.total|get_plural(['модель', 'модели', 'моделей']) }}</span>{% endif %}
    </div>

    {% if offers.total %}
    <ul class="offers offers--wide">
        {% for offer in offers.items %}
        {{ render_offer(offer) }}
        {% endfor %}
    </ul>
    {% if offers.pages > 1 %}
    <div class="pagination">
        {{ render_pagination(offers, path=current_path, **request.args) }}
    </div>
    {% endif %}
    {% else %}
    К сожалению нет товаров
    {% endif %}
{% endblock %}