{% from 'helpers/offers.html' import render_offer %}
{% from 'helpers/share.html' import render_share with context %}

{% extends 'base.html' %}

{% block content %}

    <div class="content">
        <a href="{{ url_for('site.catalog') }}" class="main__top">
            <span class="main__top-head">Ботильоны со всех <nobr>интернет-магазинов</nobr>&nbsp;России</span>
            <span class="main__top-sub">Модели и размеры — только наличие.</span>
            <span class="btn btn--buy btn--big"> Перейти в каталог</span>
        </a>

        <ul class="blocks main__ears">
            <li class="blocks__item">
                <a href="{{ url_for('site.catalog', path='season_zimnie', sort='discount') }}" class="main__ears-link">
                    <span class="main__ears-text">
                        <span>
                            Зимние ботильоны
                            со&nbsp;скидкой
                        </span>
                    </span>
                    <span class="main__ears-pic" style="background-image: url('{{ url_for('static', filename='img/ear_1.png') }}')"></span>
                </a>
            </li>
            <li class="blocks__item">
                <a href="{{ url_for('site.catalog', path='material_mehovyie', sort='price_up') }}" class="main__ears-link">
                    <span class="main__ears-text">
                        <span>
                            Дешевые меховые ботильоны
                        </span>
                    </span>
                    <span class="main__ears-pic" style="background-image: url('{{ url_for('static', filename='img/ear_2.png') }}')"></span>
                </a>
            </li>
            <li class="blocks__item">
                <a href="{{ url_for('site.catalog', path='color_leopardovyie') }}" class="main__ears-link">
                    <span class="main__ears-text">
                        <span>
                            Леопардовые ботильоны
                        </span>
                    </span>
                    <span class="main__ears-pic" style="background-image: url('{{ url_for('static', filename='img/ear_4.png') }}')"></span>
                </a>
            </li>
            <li class="blocks__item">
                <a href="{{ url_for('site.catalog', path='furnitura_na-molnii', sort='price_down') }}" class="main__ears-link">
                    <span class="main__ears-text">
                        <span>
                            Эксклюзивные ботильоны на&nbsp;молнии
                        </span>
                    </span>
                    <span class="main__ears-pic" style="background-image: url('{{ url_for('static', filename='img/ear_3.png') }}')"></span>
                </a>
            </li>
        </ul>

        {% if offers[:6]|length %}
        <div class="related">
            <ul class="offers offers--narrow">
                {% for offer in offers[:6] %}
                {{ render_offer(offer, False) }}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <br>
        <h2 class="text-centered">Почему ботильоны выбирают на нашем сайте?</h2>
        <ul class="blocks blocks--wide benefits">
            <li class="blocks__item benefit">
                <div class="benefit__icon benefit__icon--markupless"></div>
                <div class="benefit__header">Без наценок</div>
                <p class="benefit__text">Прямые ссылки на сайты интернет-магазинов</p>
            </li>
            <li class="blocks__item benefit">
                <div class="benefit__icon benefit__icon--updates"></div>
                <div class="benefit__header">Обновления</div>
                <p class="benefit__text">Только актуальные каталоги, обновляемые каждый день</p>
            </li>
            <li class="blocks__item benefit">
                <div class="benefit__icon benefit__icon--community"></div>
                <div class="benefit__header">Общение</div>
                <p class="benefit__text">Активное сообщество фанаток модной обуви</p>
            </li>
        </ul>

        <br>
        <h2 class="text-centered">Ботильоны на любой вкус и цвет</h2>
        <ul class="main__tags">
            {% for tag in random_tags %}
            <li class="main__tags-item">
                <span class="tag">
                    <a href="{{ url_for('site.catalog', path=tag.facete|generate_filter_url()) }}" class="tag__link">{{ tag.name }}</a>
                </span>
            </li>
            {% endfor %}
        </ul>

        <br>
        <div class="main__content">
            <h1>Летящей походкой королевы за новой обувью вместе с интернет-магазином «Ботильоны»!</h1>
            <p>Трепетно следите за свежими брендами моды, уважаете качество, цените комфорт ходьбы? Желаете стать
                создательницей неповторимого и только вашего стиля? Вы нашли то, что искали!</p>

            <h2>Мечты исполняются здесь и сейчас</h2>
            <p>Женские ботильоны! Эта очаровательная деталь гардероба некогда была изобретена для самой королевы. И сегодня,
                как прежде, изысканная и удобная обувь выше щиколотки стремится во владение дамы со вкусом, то есть к вам! А
                мы – ваши верные помощники в выборе красивых, ярких и доступных по цене новинок. Потому что знаем о
                ботильонах всё!</p>

            <p>Добро пожаловать! На одной странице мы собрали последние коллекции от ведущих обувных интернет-магазинов
                России: Wildberries, Lamoda, ShopTime, SHOWROOMS, OTTO, Quelle, БашМаг, МодаСкидка. А еще мы постарались,
                чтобы ваша покупка стала легкой и радостной в любое время. Убедитесь сами!</p>

            <p>Наслаждайтесь! Будьте неотразимой и восхитительной, как настоящая королева, каждый миг вместе с нашим
                интернет-магазином ботильонов. Вы этого достойны сегодня и всегда!</p>
        </div>

        {% if offers[6:10]|length %}
        <div class="related">
            <h2>Рекомендуем</h2>
            <ul class="offers">
                {% for offer in offers[6:10] %}
                {{ render_offer(offer) }}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {{ render_share() }}
{% endblock %}