{% from 'helpers/offers.html' import render_offer with context %}
{% from 'helpers/share.html' import render_share with context %}

{% extends 'base.html' %}

{% set altitle = 'Ботильоны' %}
{% if offer.brand %}
    {% set altitle = altitle + ' ' + offer.brand.name %}
{% endif %}

{% set redirect_link = offer.id|make_offer_redirect_url %}

{% block title %}
    {{ altitle }} за {{ offer.price|pretty_price }} руб. | {{ super() }}
{% endblock %}

{% set description = altitle %}
{% set df = {'color': None, 'heel': None} %}

{% if offer_filters %}
    {% for _, f in offer_filters.items() %}
        {% if f.get('filters', [])|length %}
            {% if f.get('slug') == 'color' %}
                {% do df.update({'color': f.get('filters')[0].name}) %}
            {% elif f.get('slug') == 'heel' %}
                {% do df.update({'heel': f.get('filters')[0].name}) %}
            {% endif %}
        {% endif %}
        {{ color }}
    {% endfor %}
{% endif %}

{% if df.get('color') %}
    {% set description = df.get('color')|capitalize + ' ' + description %}
{% endif %}

{% if df.get('heel') %}
    {% set description = description + ' ' + df.get('heel') %}
{% endif %}


{% block description %}
    {{ description }} в наличии всего за {{ offer.price|pretty_price }} руб. И еще более 7000 моделей обуви в продаже. Заказывайте!
{% endblock %}

{% block metas %}
<meta property="og:title" content="{{ altitle }}">
<meta property="og:description" content="{{ altitle }} всего за {{ offer.price|pretty_price }} руб. и другие модели ботильонов в интернет-магазине www.Botiloni.ru.">
<meta property="og:image" content="{{ offer.picture_absolute_path }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.url }}">
{% endblock %}


{% block content %}
    <div class="content">
        <div class="content__wrapper" itemscope itemtype="http://schema.org/Product">
            <div class="content__right">
                {% if current_user and current_user.is_admin %}
                    <a href="{{ url_for('admin.reupload_image', offer_id=offer.id) }}" class="js-reupload-image">Перезагрузить картинку</a>
                {% endif %}
                {% if offer.discount %}
                <div class="offers__item-discount content__right-discount">–{{ offer.discount }}%</div>
                {% endif %}
                <a href="{{ redirect_link }}" target="_blank" class="link-normal">
                    <img src="{{ offer.picture }}"
                         itemprop="image"
                         alt="{{ altitle }}" title="{{ altitle }} всего за {% if offer.old_price %}{{ offer.old_price|pretty_price }}{% else %}{{ offer.price|pretty_price }}{% endif %} руб.">
                </a>
            </div>
            <div class="content__left">
                <div class="content__title">
                    <h1 itemprop="name"><span class="content__title-top">{{ site_name }}</span>
                    {% if offer.brand %}
                    <a href="{{ url_for('site.catalog', brand=offer.brand.slug) }}" class="link-text link-normal content__title-link">{{ offer.brand.name|safe }}</a>
                    {% endif %}</h1>
                    <meta itemprop="description" content="{% if offer.description %}{{ offer.description|striptags|safe }}{% else %}{{ altitle }}{% endif %}">
{#                    <div style="display: none" itemprop="description">#}
{#                        {{ offer.description|striptags|safe }}#}
{#                        <span class="link link-grey content__text-more">Читать полностью</span>#}
{#                    </div>#}
                </div>
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <div class="offers__item-price content__offer-price">
                        <span class="offers__item-price-current">
                            <span itemprop="price" content="{{ offer.price }}">{{ offer.price|pretty_price }}</span> руб.
                        </span>
                        {% if offer.old_price %}<span class="offers__item-price-old">{{ offer.old_price|pretty_price }}</span>{% endif %}
                        <meta itemprop="priceCurrency" content="RUB">
                        <link itemprop="availability" href="http://schema.org/InStock">
                    </div>
                    {% set sizes = offer.get_sizes %}
                    {% if sizes %}
                    <div class="content__sizes">
                        Размер{% if sizes|length > 1 %}ы{% endif %} в наличии:
                        <ul class="content__sizes-list">
                            {% for size in sizes %}
                            <li class="content__sizes-item"><a href="{{ redirect_link }}" target="_blank" class="content__sizes-link">{{ size }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="content__offer-buttons">
                        <noindex><a href="{{ redirect_link }}" target="_blank" rel="nofollow" class="btn btn--big btn--buy">Купить в магазине</a></noindex>
                        &nbsp;&nbsp;
                        <a href="{{ url_for('site.favorites', id=offer.id) }}" class="offers__item-add-to-favorites{% if offer.in_favorites %} offers__item-add-to-favorites--added{% endif %} content__offer-favorite">
                            <svg class="icon">
                                <use xlink:href="#icon-favorite"></use>
                            </svg>
                        </a>
                    </div>
                    {% if offer.description %}
                    <div class="content__offer-description">
                        <h4>Описание</h4>
                        <div class="content__offer-description-text" itemprop="description">
                            {{ offer.description|striptags|safe }}
    {#                        <span class="link link-grey content__text-more">Читать полностью</span>#}
                        </div>
                    </div>
                    {% endif %}
                    {% if offer_filters|length %}
                    <div class="content__flist">
                        <h4>Свойства</h4>
                        {% for _, group in offer_filters.items() %}
                        {% if group['filters'] and group['filters']|length %}
                        <div class="content__flist-line">
                            <div class="content__flist-left">
                                {{ group['name'] }}
                            </div>
                            <ul class="content__flist-right">
                                {% for filter in group['filters'] %}
                                <li><a href="{{ url_for('site.catalog', path=filter.facete|generate_filter_url()) }}" class="link-normal link-grey">{{ filter.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="content__offer-shop">
                        <h4>Магазин</h4>
                        <a href="{{ redirect_link }}" class="link-normal" target="_blank">
                            <img data-src="{{ offer.shop.logotype }}" class="lazy" alt="{{ offer.shop.name }}" title="{{ offer.shop.name }}">
                        </a>
                    </div>
                    <div class="content__offer-share">
                        <h4>Поделиться</h4>
                        <script src="//yastatic.net/share2/share.js" async></script>
                        <div
                                class="ya-share2"
                                data-title="{{ altitle }} в магазине www.Botiloni.ru"
                                data-url="{{ request.url }}"
                                data-description="{{ altitle }} всего за {{ offer.price|pretty_price }} руб. и другие модели ботильонов в интернет-магазине www.Botiloni.ru."
                                data-image="{{ offer.picture_absolute_path }}"
                                data-services="collections,vkontakte,facebook,odnoklassniki,moimir{% if is_mobile %},viber,whatsapp{% endif %},telegram"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="related">
            <h2>Похожие модели</h2>
            <ul class="offers offers--narrow">
                {% for offer in related_offers[:6] %}
                {{ render_offer(offer, shop=False) }}
                {% endfor %}
            </ul>
        </div>
        <div class="related">
            <h2>Рекомендуем</h2>
            <ul class="offers">
                {% for offer in related_offers[6:10] %}
                {{ render_offer(offer) }}
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ render_share(with_script=False) }}
{% endblock %}