{% from 'helpers/offers.html' import render_offer with context %}
{% from 'helpers/pagination.html' import render_pagination %}
{% from 'helpers/share.html' import render_share with context %}

{% extends 'base.html' %}

{% block title %}
    Распродажа ботильонов | {{ super() }}
{% endblock %}

{% block content %}
    <div class="content__title content__title--sale">
        <h1>Распродажа %</h1>
        <span class="content__title-count">{{ offers.total|get_plural(['товар', 'товара', 'товаров']) }}</span>
    </div>

    <div class="content__filters">
        <div class="lselect">
            <div class="lselect__current">
                {% set kwargs = request.args.copy() %}
                {% do kwargs.pop('shop', None) %}
                {% do kwargs.pop('brand', None) %}
                {% do kwargs.pop('page', None) %}
                <span class="js-brand-popover lselect__current-line link link-text">{% if current_brand %}{{ current_brand.name }}{% else %}Бренд{% endif %}</span>
                {% if current_brand %}<a href="{{ url_for(request.endpoint, **kwargs) }}">x</a>{% endif %}
            </div>
            <div class="lselect__popover" id="js-brand-popover">
                <ul class="lselect__list">
                    <li class="lselect__list-item lselect__list-item--drop">
                        <a href="{{ url_for(request.endpoint, **kwargs) }}" class="lselect__list-link{% if not current_brand %} lselect__list-link--selected{% endif %}">Не выбран</a>
                    </li>
                    {% for brand in brands %}
                    <li class="lselect__list-item">
                        <a href="{{ url_for(request.endpoint, brand=brand.slug, **kwargs) }}" class="lselect__list-link{% if current_brand == brand %} lselect__list-link--selected{% endif %}">{{ brand.name|safe }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="lselect">
            <div class="lselect__current">
                {% set kwargs = request.args.copy() %}
                {% do kwargs.pop('brand', None) %}
                {% do kwargs.pop('shop', None) %}
                {% do kwargs.pop('page', None) %}
                <span class="js-shop-popover lselect__current-line link link-text">{% if current_shop %}{{ current_shop.name }}{% else %}Магазин{% endif %}</span>
                {% if current_shop %}<a href="{{ url_for('site.catalog', **kwargs) }}">x</a>{% endif %}
            </div>
            <div class="lselect__popover" id="js-shop-popover">
                <ul class="lselect__list">
                    <li class="lselect__list-item lselect__list-item--drop">
                        <a href="{{ url_for(request.endpoint, **kwargs) }}" class="lselect__list-link{% if not current_shop %} lselect__list-link--selected{% endif %}">Не выбран</a>
                    </li>
                    {% for shop in shops %}
                    <li class="lselect__list-item">
                        <a href="{{ url_for(request.endpoint, shop=shop.slug, **kwargs) }}" class="lselect__list-link{% if current_shop == shop %} lselect__list-link--selected{% endif %}">{{ shop.name|safe }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% if offers %}
    <ul class="offers">
        {% for offer in offers.items %}
        {{ render_offer(offer) }}
        {% endfor %}
    </ul>
    {% if offers.pages > 1 %}
    <div class="pagination">
        {{ render_pagination(offers, **request.args) }}
    </div>
    {% endif %}
    {% else %}
    <br><br>
    <h2>Товаров со скидками пока нет.</h2>
    {% endif %}

    {{ render_share() }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/webui-popover.min.css') }}">
{% endblock %}