.admin
    &__page
        &-edit
            position fixed
            bottom 10px
            left 10px
            display block
            overflow hidden
            width 50px
            height @width
            line-height @width
            background #333
            color #fff
            z-index 300
            border-radius 50%
            padding 0 5px
            